
<% @artists.each do |artist| %>
  <table border="1">
    <tr>
      <td>
        <%= artist.image_url %>
      </td>
    </tr>
    <tr>
      <td>
        <%= artist.name %>
      </td>
    </tr>
    <tr>
      <td>
        <a href="artists/<%=artist.id%>">Ver más</a>
      </td>
    </tr>
  </table>
<%end%>
